# Byte-compiled / optimized / DLL files
__pycache__/
**/venv/*
#data folder
!.gitkeep/
/searchservice/data/*.csv
!/sentencevectormodel/USEModel/.gitkeep
/sentencevectormodel/USEModel/*.pb
/sentencevectormodel/USEModel/**/